html {
	background: linear-gradient(DarkSlateGrey, orange) fixed;
}

body {
	color: White;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background: #033;
	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: #2b646e;
	padding-left:30px;
	padding-right:30px;
	font-size: 12px;
	font-family: "Verdana";
}

h1,h2,h3,h4 {
	color: White;
	padding-left:10px;
	border-radius: 10px;
	border-style: solid;
	border-width: 4px;
	border-color: #708c9c;
	background: #2b646e;
}

li {
	padding: 3px 10px;
}

 em {

 }

 img {
	max-width:100%;
	vertical-align: middle;
	text-align: center;
	border-radius: 5px;
 }

a {
	color: LightBlue;
}

 .container {
	 display: block;
	 align-items: center;
	 justify-content: center;
	 margin-left: 5px;
	 margin-right: 5px;
         margin-bottom: 5px;
         margin-top: 20px;
 }

.grid-container{
	display:grid;
	grid-auto-flow: column;
	grid-auto-columns: repeat(4, 1fr);
	grid-template-areas: "A B B B";
	margin: 0 auto;
}

.grid-profile{
	display:grid;
	grid-auto-flow: column;
	grid-auto-columns: repeat(4, 1fr);
	grid-template-areas: "A A B B";
	margin: 0 auto;
}

.A{
	height:100%;
	width:100%;
	grid-area: A;
	padding-right:10px;
	}

.B{
	grid-area: B;
	padding-left:10px;
}

 .image{
	border: 5px solid #708c9c;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;

 }

 .text{
	text-align: justify;
	border: 5px solid #708c9c;
	border-radius: 10px;
	background: #2b646e;
	display: block;
	padding-left:5px;
	padding-right:5px;
 }

 .label{
	border: 5px solid #708c9c;
	border-radius: 10px;
	background: #2b646e;
	text-align: center;
	display: block;
	margin-top:5px;
	padding-left:5px;
	padding-right:5px;
 }

.fill_border{
	border: 5px solid #708c9c;
	border-radius: 10px;
	height:450px;
	width:auto
}

 .flight_test{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;

	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('web_pics/UAV/flight-test.gif')
}

 .lamp_switch{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;

	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('web_pics/Litho/lithoswitch.gif')
}

.center {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  grid-column-gap: 40px;
  content: "";
  display: table;
  clear: both;
}
